* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  margin: 0 auto;
}

@font-face {
  font-family: Caveat;
  src: url(fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: CaveatBold;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoItalic;
  src: url(fonts/LatoItalic.ttf);
}
.navHolder {
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navHolder .nav-logo {
  width: 350px;
  height: 80px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.navHolder .nav-logo h1 {
  margin: 15px auto 20px auto;
  font-family: Caveat;
}
.navHolder .nav-logo .nav-logo-img {
  width: 80px;
  height: 80px;
  background-image: url(../../images/flexx-logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navHolder .links {
  margin-right: 20px;
}
.navHolder .links a {
  text-decoration: none;
  color: black;
  font-family: Caveat;
  font-size: 30px;
  margin-left: 40px;
}
.navHolder .bars {
  display: none;
  flex-direction: column;
  margin-right: 20px;
}
.navHolder .bars .bar {
  display: block;
  width: 25px;
  margin: 3px 0;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}
.bars.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.bars.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 960px) {
  .navHolder {
    background-color: #340068;
    z-index: 10;
  }
  .navHolder .nav-logo {
    color: white;
  }
  .navHolder .links {
    position: fixed;
    width: 100vw;
    opacity: 0;
    right: 1000px;
    top: 100px;
    background-color: #340068;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
  }
  .navHolder .links a {
    margin: 30px auto;
  }
  .navHolder .links.active {
    opacity: 1;
    right: 0;
    left: 0;
  }
  .navHolder .links.active a {
    color: white;
  }
  .navHolder .bars {
    display: flex;
  }
  .navHolder .bars .bar {
    background-color: white;
  }
}
html:not([data-scroll="0"]) .navHolder {
  background-color: #340068;
  z-index: 10;
  color: white;
}
html:not([data-scroll="0"]) .navHolder .links a {
  color: white;
}

.home {
  height: 600px;
  background-color: #fffcf9;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-callout {
  height: 500px;
  width: 500px;
  display: flex;
  position: relative;
  margin-top: 130px;
}
.home .home-callout h1 {
  font-family: CaveatBold;
}
.home .home-callout p {
  font-family: Lato;
  text-align: center;
  width: 190px;
}
.home .home-callout .home-callout-one {
  height: 360px;
  width: 360px;
  border-radius: 180px;
  background-color: #ff6978;
  margin: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .home-callout .home-callout-two {
  height: 170px;
  width: 170px;
  border-radius: 85px;
  background-color: #b1ede8;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .home-callout .home-callout-two p {
  font-size: 14px;
  width: 100px;
}

.create {
  min-height: 100vh;
  background-color: #6d435a;
  color: white;
}
.create h1 {
  margin-left: 150px;
  margin: 0 0 85px 150px;
  padding-top: 130px;
  font-family: CaveatBold;
}
.create .workout-container {
  margin: auto 150px;
  padding-bottom: 90px;
}
.create .workout-container p {
  font-size: 20px;
  font-family: Lato;
  margin: 80px auto -40px auto;
}
.create .workout-container div input {
  display: block;
  width: 100%;
  margin-top: 60px;
  height: 40px;
  font-size: 20px;
  font-family: Lato;
  background: transparent;
  border: 0;
  border-bottom: solid white 3px;
}
.create .workout-container div ::placeholder {
  color: white;
}
.create #submit {
  width: 130px;
  height: 45px;
  color: white;
  background-color: #340068;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 20px;
  border-radius: 20px;
  margin: 30px auto;
  border: none;
}
.create #edit {
  width: 130px;
  height: 45px;
  color: white;
  background-color: #340068;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 20px;
  border-radius: 20px;
  margin: 30px auto;
}

.edit {
  min-height: 100vh;
  background-color: #b1ede8;
  color: black;
}
.edit h1 {
  margin-left: 150px;
  margin: 0 0 85px 150px;
  padding-top: 130px;
  font-family: CaveatBold;
}
.edit .workout-container {
  margin: auto 150px;
  padding-bottom: 90px;
}
.edit .workout-container p {
  font-size: 20px;
  font-family: Lato;
  margin: 80px auto -40px auto;
}
.edit .workout-container div input {
  display: block;
  width: 100%;
  margin-top: 60px;
  height: 40px;
  font-size: 20px;
  font-family: Lato;
  background: transparent;
  border: 0;
  border-bottom: solid black 3px;
}
.edit .workout-container div ::placeholder {
  color: black;
}
.edit #submit {
  width: 130px;
  height: 45px;
  color: white;
  background-color: #340068;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 20px;
  border-radius: 20px;
  margin: 30px auto;
}
.edit #edit {
  width: 130px;
  height: 45px;
  color: white;
  background-color: #340068;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 20px;
  border-radius: 20px;
  margin: 30px auto;
}

.login {
  min-height: 500px;
  background-color: #ff6978;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .login-container {
  display: flex;
  width: 700px;
  justify-content: space-between;
  margin: 150px auto 50px auto;
  color: white;
}
.login .login-container input {
  display: block;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  font-size: 15px;
  font-family: Lato;
  background: transparent;
  border: 0;
  border-bottom: solid white 3px;
}
.login .login-container h1 {
  font-family: Lato;
  font-size: 30px;
}
.login .login-container ::placeholder {
  color: white;
}
.login .login-container .login-login {
  margin: auto 0;
  width: 300px;
}
.login .login-container .login-signup {
  margin: auto 0;
  width: 300px;
}
.login .login-container .login-signup p {
  font-family: Lato;
  font-style: italic;
}
.login .login-container #login-submit {
  width: 210px;
  height: 50px;
  background-color: #b1ede8;
  border-radius: 30px;
  margin: 20px auto;
  border: 0;
  color: white;
}
.login .login-container #signup-submit {
  width: 210px;
  height: 50px;
  background-color: #b1ede8;
  border-radius: 30px;
  margin: 20px auto;
  border: 0;
  color: white;
}

@media screen and (max-width: 960px) {
  .login {
    min-height: 100px;
  }
  .login .login-container {
    flex-direction: column;
    align-items: center;
  }
  .login .login-container form {
    margin-bottom: 50px;
  }
}
footer {
  height: 90px;
  background-color: #340068;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Caveat;
  font-size: 20px;
}
footer p {
  margin-left: 20px;
}
footer .links {
  margin-right: 20px;
}
footer .links a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

/*# sourceMappingURL=styles.css.map */
