footer {
  height: 90px;
  background-color: $site-indigo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Caveat;
  font-size: 20px;

  p {
    margin-left: 20px;
  }

  .links {
    margin-right: 20px;

    a {
      text-decoration: none;
      color: white;
      margin-left: 30px;
    }
  }
}
