.edit {
  min-height: 100vh;
  background-color: $site-bluegreen;
  color: black;

  h1 {
    margin-left: 150px;
    margin: 0 0 85px 150px;
    padding-top: 130px;
    font-family: CaveatBold;
  }

  .workout-container {
    margin: auto 150px;
    padding-bottom: 90px;

    p {
      font-size: 20px;
      font-family: Lato;
      margin: 80px auto -40px auto;
    }

    div {
      input {
        display: block;
        width: 100%;
        margin-top: 60px;
        height: 40px;
        font-size: 20px;
        font-family: Lato;
        background: transparent;
        border: 0;
        border-bottom: solid black 3px;
      }

      ::placeholder {
        color: black;
      }
    }
  }

  #submit {
    width: 130px;
    height: 45px;
    color: white;
    background-color: $site-indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-size: 20px;
    border-radius: 20px;
    margin: 30px auto;
  }

  #edit {
    width: 130px;
    height: 45px;
    color: white;
    background-color: $site-indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-size: 20px;
    border-radius: 20px;
    margin: 30px auto;
  }
}
